:root {
    --cor-primaria: #dc0077;
    --cor-secundaria: #dc5f00;    
    --cor-branca: #ffffff;
    --cor-fundo-escuro: #040203;    
    --cor-fundo-cinza-escuro: #282828;
    --cor-fundo-cinza-claro: #353535;    
  }
    
  :root {
    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-secundaria: 'Aboreto', cursive;
    --fonte-terceira: 'Playfair Display', serif;
    --fonte-quarta: 'Solitreo', cursive;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }